In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("merged_data.csv")
df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,payment_sequential,payment_type,payment_installments,payment_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,1,credit_card,1,18.12,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,3,voucher,1,2.00,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,2,voucher,1,18.59,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,1,595fac2a385ac33a80bd5114aec74eb8,...,1,boleto,1,141.46,8d5266042046a06655c8db133d120ba5,4,Muito boa a loja,Muito bom o produto.,2018-08-08 00:00:00,2018-08-08 18:37:50
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,1,aa4383b373c6aca5d8797843e5594415,...,1,credit_card,3,179.12,e73b67b67587f7644d5bd1a52deb1b01,5,NaN,NaN,2018-08-18 00:00:00,2018-08-22 19:07:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,1,f1d4ce8c6dd66c47bbaa8c6781c2a923,...,1,credit_card,3,195.00,29bb71b2760d0f876dfa178a76bc4734,4,NaN,So uma peça que veio rachado mas tudo bem rs,2018-03-01 00:00:00,2018-03-02 17:50:01
117325,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,1,b80910977a37536adeddd63663f916ad,...,1,credit_card,5,271.01,371579771219f6db2d830d50805977bb,5,NaN,Foi entregue antes do prazo.,2017-09-22 00:00:00,2017-09-22 23:10:57
117326,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,1,d1c427060a0f73f6b889a5c7c61f2ac4,...,1,credit_card,4,441.16,8ab6855b9fe9b812cd03a480a25058a1,2,NaN,Foi entregue somente 1. Quero saber do outro p...,2018-01-26 00:00:00,2018-01-27 09:16:56
117327,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,2,d1c427060a0f73f6b889a5c7c61f2ac4,...,1,credit_card,4,441.16,8ab6855b9fe9b812cd03a480a25058a1,2,NaN,Foi entregue somente 1. Quero saber do outro p...,2018-01-26 00:00:00,2018-01-27 09:16:56
117328,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,1,006619bbed68b000c8ba3f8725d5409e,...,1,debit_card,1,86.86,dc9c59b4688062c25758c2be4cafc523,5,NaN,NaN,2018-03-17 00:00:00,2018-03-17 16:33:31

In [3]:
# Pistes à explorer:
# Articles qui prennent de la place
# Articles qui se vendent moins et qu'on veut écouler
# Les produits qui plaisent le plus (les plus vendus ou les mieux notés)
# Les produits avec un stock bas pour que les clients achètent davantage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117329 entries, 0 to 117328
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       117329 non-null  object
 1   customer_id                    117329 non-null  object
 2   order_status                   117329 non-null  object
 3   order_purchase_timestamp       117329 non-null  object
 4   order_approved_at              117314 non-null  object
 5   order_delivered_carrier_date   116094 non-null  object
 6   order_delivered_customer_date  114858 non-null  object
 7   order_estimated_delivery_date  117329 non-null  object
 8   order_item_id                  117329 non-null  int64
 9   product_id                     117329 non-null  object
 10  seller_id                      117329 non-null  object
 11  shipping_limit_date            117329 non-null  object
 12  price                          117329 non-null  float64
 13  freight_value                  117329 non-null  float64
 14  product_category_name          115634 non-null  object
 15  product_name_lenght            115634 non-null  float64
 16  product_description_lenght     115634 non-null  float64
 17  product_photos_qty             115634 non-null  float64
 18  product_weight_g               117309 non-null  float64
 19  product_length_cm              117309 non-null  float64
 20  product_height_cm              117309 non-null  float64
 21  product_width_cm               117309 non-null  float64
 22  seller_zip_code_prefix         117329 non-null  int64
 23  seller_city                    117329 non-null  object
 24  seller_state                   117329 non-null  object
 25  customer_unique_id             117329 non-null  object
 26  customer_zip_code_prefix       117329 non-null  int64
 27  customer_city                  117329 non-null  object
 28  customer_state                 117329 non-null  object
 29  payment_sequential             117329 non-null  int64
 30  payment_type                   117329 non-null  object
 31  payment_installments           117329 non-null  int64
 32  payment_value                  117329 non-null  float64
 33  review_id                      117329 non-null  object
 34  review_score                   117329 non-null  int64
 35  review_comment_title           13892 non-null   object
 36  review_comment_message         49679 non-null   object
 37  review_creation_date           117329 non-null  object
 38  review_answer_timestamp        117329 non-null  object
dtypes: float64(10), int64(6), object(23)
memory usage: 34.9+ MB

In [4]:
# Suppression des colonnes inutiles pour le use case
df = df.drop(columns = ['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date', 'order_item_id', 'seller_id', 'shipping_limit_date', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'seller_zip_code_prefix', 'seller_city', 'seller_state', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state', 'payment_type', 'payment_sequential', 'payment_installments', 'review_id', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117329 entries, 0 to 117328
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   product_id             117329 non-null  object
 1   price                  117329 non-null  float64
 2   freight_value          117329 non-null  float64
 3   product_category_name  115634 non-null  object
 4   product_length_cm      117309 non-null  float64
 5   product_height_cm      117309 non-null  float64
 6   product_width_cm       117309 non-null  float64
 7   payment_value          117329 non-null  float64
 8   review_score           117329 non-null  int64
dtypes: float64(6), int64(1), object(2)
memory usage: 8.1+ MB

## Commencons par explorer la piste des produits qui prennent trop de place

Plus de place dans les stocks

Pas payer d'entrepot supplementaire pendant longtemps (regarder camembert de cb de place ca prend le top x)

Permet de remplacer par des articles avec un meilleur rapport dimensions:prix (faire un listing des articles petit et chers qui sont bien notes

In [5]:
df['product_volume_cubic_cm'] = df['product_length_cm'] * df['product_width_cm'] * df['product_height_cm']
df = df.drop(columns = ['product_length_cm', 'product_width_cm', 'product_height_cm'])
df.sort_values(by = 'product_volume_cubic_cm', ascending = False)

,product_id,price,freight_value,product_category_name,payment_value,review_score,product_volume_cubic_cm
18518,256a9c364b75753b97bee410c9491ad8,1149.00,339.59,utilidades_domesticas,1488.59,4,296208.0
19118,0b48eade13cfad433122f23739a66898,514.88,163.52,moveis_decoracao,1356.80,1,294000.0
55245,3eb14e65e4208c6d94b7a32e41add538,698.90,120.19,moveis_sala,819.09,5,294000.0
78394,c1e0531cb1864fd3a0cae57dca55ca80,569.90,119.29,moveis_sala,689.19,2,294000.0
19117,0b48eade13cfad433122f23739a66898,514.88,163.52,moveis_decoracao,1356.80,1,294000.0
...,...,...,...,...,...,...,...
82531,5eb564652db742ff8f28759cd8d2652a,39.00,15.10,NaN,54.10,5,NaN
85661,5eb564652db742ff8f28759cd8d2652a,39.00,9.27,NaN,48.27,2,NaN
86210,5eb564652db742ff8f28759cd8d2652a,29.00,14.52,NaN,43.52,5,NaN
87739,5eb564652db742ff8f28759cd8d2652a,29.00,10.96,NaN,39.96,5,NaN
105219,5eb564652db742ff8f28759cd8d2652a,29.00,24.84,NaN,53.84,4,NaN

In [6]:
df["product_id"].nunique()

32789

In [7]:
# Group by 'product_id' and keep the top 10 values by 'dimensions'
df = df.sort_values(by=['product_id', 'product_volume_cubic_cm'], ascending=[True, False])

# Get the top 10 rows per group
top_10 = df.groupby('product_id').head(10).reset_index(drop=True)

print(top_10)

                             product_id   price  freight_value  \
0      00066f42aeeb9f3007548bb9d3f33c38  101.65          18.59
1      00088930e925c41fd95ebfe695fd2655  129.90          13.93
2      0009406fd7479715e4bef61dd91f2462  229.00          13.10
3      000b8f95fcb9e0096488278317764d19   58.90          19.60
4      000b8f95fcb9e0096488278317764d19   58.90          19.60
...                                 ...     ...            ...
84394  fffdb2d0ec8d6a61f0a0a0db3f25b441   34.99          18.23
84395  fffdb2d0ec8d6a61f0a0a0db3f25b441   34.99           7.39
84396  fffdb2d0ec8d6a61f0a0a0db3f25b441   34.99           7.51
84397  fffdb2d0ec8d6a61f0a0a0db3f25b441   29.99          18.23
84398  fffe9eeff12fcbd74a2f2b007dde0c58  249.99          53.88

        product_category_name  payment_value  review_score  \
0                  perfumaria         120.24             5
1                  automotivo         143.83             4
2             cama_mesa_banho         242.10             1
3       utilidades_domesticas          78.50             5
4       utilidades_domesticas          78.50             5
...                       ...            ...           ...
84394  informatica_acessorios          53.22             5
84395  informatica_acessorios          42.38             5
84396  informatica_acessorios          42.50             5
84397  informatica_acessorios          48.22             5
84398              brinquedos         303.87             4

       product_volume_cubic_cm
0                       5120.0
1                      14300.0
2                      23625.0
3                       5472.0
4                       5472.0
...                        ...
84394                    832.0
84395                    832.0
84396                    832.0
84397                    832.0
84398                   7568.0

[84399 rows x 7 columns]

In [9]:
top_10

,product_id,price,freight_value,product_category_name,payment_value,review_score,product_volume_cubic_cm
107297,00066f42aeeb9f3007548bb9d3f33c38,101.65,18.59,perfumaria,120.24,5,5120.0
112087,00088930e925c41fd95ebfe695fd2655,129.90,13.93,automotivo,143.83,4,14300.0
48984,0009406fd7479715e4bef61dd91f2462,229.00,13.10,cama_mesa_banho,242.10,1,23625.0
31355,000b8f95fcb9e0096488278317764d19,58.90,19.60,utilidades_domesticas,78.50,5,5472.0
111170,000b8f95fcb9e0096488278317764d19,58.90,19.60,utilidades_domesticas,78.50,5,5472.0
...,...,...,...,...,...,...,...
14899,fffdb2d0ec8d6a61f0a0a0db3f25b441,34.99,18.23,informatica_acessorios,53.22,5,832.0
19071,fffdb2d0ec8d6a61f0a0a0db3f25b441,34.99,7.39,informatica_acessorios,42.38,5,832.0
53219,fffdb2d0ec8d6a61f0a0a0db3f25b441,34.99,7.51,informatica_acessorios,42.50,5,832.0
80844,fffdb2d0ec8d6a61f0a0a0db3f25b441,29.99,18.23,informatica_acessorios,48.22,5,832.0
97146,fffe9eeff12fcbd74a2f2b007dde0c58,249.99,53.88,brinquedos,303.87,4,7568.0

In [ ]:
# Sort by volume and take the top 10
top_10 = product_volume.sort_values(ascending=False).head(10)

# Calculate percentage of total volume
total_volume = product_volume.sum()
top_10_percentage = (top_10 / total_volume) * 100

# Plot a pie chart
plt.figure(figsize=(8, 8))
plt.pie(
    top_10_percentage,
    labels=top_10.index,
    autopct="%1.1f%%",
    startangle=140,
    colors=plt.cm.tab10.colors
)
plt.title("Top 10 Articles as % of Total Product Volume")
plt.show()